@{
    ViewData["Title"] = "Orientações";
}

<div class="text-center">
    <h1>
        Teste Evolucional - Orientações
    </h1>
    <img src="~/image/text1.PNG" />
    <img src="~/image/text2.PNG" />
    <img src="~/image/text3.PNG" />
</div>
